body {
    background-color: #fff;
}

.headline_container {
    margin: 0 auto;
}

h1 {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/990140/download.png) -20px -20px no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
    font-size: 8.4vw;
    margin-top: -5px;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 11px;
}

h2 {
    font-size: 2em;
    letter-spacing: 3px;
    font-style: italic;
    text-align: center;
    margin-top: -40px;
    font-family: "Abril Fatface";
}

p {
    color: #000;
    text-align: justify;
    font-family: Raleway;
    font-size: 25px;
}

a {
    color: #000;
    text-decoration: underline;
    text-decoration-color: #f67246;
    line-height: 2px;
}

.content {
    color: #568582;
    text-align: justify;
    font-family: Raleway;
    font-size: 25px;
    font-style: italic;
}

figure {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.main_img {
    width: 100%;
}

.main_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.map_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}